<template name="calendar">

    <div class="page calendar">
        {{>nav title='Eco Village Connect' black=true}}
        <div class="content-scrollable">
            <br><br>

            

            <br>
            <div class="calendar">
                {{> ReactiveFullcalendar options=calendarOptions id="calendar"}}
            </div>
            <div style="margin-left: 5%; width: 90%">
                {{#each dayEvents }}
                    <div class="ui secondary pointing menu">
                        <div class="item">
                            <div class="ui vertical text menu">
                                <div class="item">{{this.title}} with <b>{{this.user}}</b></div>
                                <div style="opacity: 0.6;" class="item"> <i class="wait icon"></i> {{this.stHr}}-{{this.enHr}}</div>
                            </div>
                        </div>
                        <div class="right menu">
                            <div class="item">
                                <i class="user icon"></i>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

    </div>



</template>